<!-- <div fxLayout="row" fxLayoutAlign="space-between center">
  <h2 matDialogTitle>Create Permit - Select Conditions</h2>
  <button mat-icon-button class="close-button icon-outside" [mat-dialog-close]="true">
    <mat-icon class="close-icon material-icons color_white">close</mat-icon>
  </button>
</div> -->
<!-- <hr> -->
<!-- <mat-dialog-content class="mat-typography"> -->
<!-- <app-permit-conditions-tab [onNextBtnClick]="nextBtnClick"></app-permit-conditions-tab> -->
<!-- </mat-dialog-content> -->
<!-- <hr> -->
<!-- <mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
  <button mat-raised-button class="primary-button-outline mb-2" color="primary" [mat-dialog-close]="true">Go
    Back</button>
  <button mat-raised-button class="primary-button mb-2" color="primary" (click)="onNextBtnClick()"
    [mat-dialog-close]="true">Next</button>
</mat-dialog-actions> -->