<div class="dashboard-container mb-4">

  <div fxLayout="row" fxLayoutAlign="start center" FxFlex="100" class="page-title m-4">

    <div class="grey-text " FxFlex="98">
      <span class="blue-text">Dashboard</span> / Charges Performance at a Glance

    </div>

  </div>

  <div fxLayout="row" fxLayoutAlign="center flex-start" class="m-auto">
    <div class="w-75" fxLayout="row" fxLayoutGap="16px" style="margin-left: 16px;">
      <div fxLayout="column" fxFlex="100" fxLayoutGap="16px">
        <mat-card fxFlex="100" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="10px">
          <app-matrix-a4 [dataModel]="matrixA4DataModel" [configModel]="matrixA4ConfigModel"></app-matrix-a4>

        </mat-card>

        <div fxLayout="row" fxFlex="100" fxLayoutGap="16px">
          <mat-card fxFlex="40" fxLayout="column">
            <div class="row">
              <div class="col-12 ">
                <div class="text-center headingtitle">
                  Performance Indicators (Percentages)
                </div>
                <div class="mt-3">
                  <app-progress-bar [dataModel]="progressBarDataModel" [configModel]="progressBarConfigModel">
                  </app-progress-bar>
                </div>
              </div>


            </div>
          </mat-card>
          <div fxLayout="column" fxFlex="60" fxLayoutGap="16px">
            <mat-card fxFlex="100" fxLayout="column">
              <app-performance-chart [dataModel]="performanceChartDataModel"
                [configModel]="performanceChartConfigModel">
              </app-performance-chart>
            </mat-card>
            <mat-card fxFlex="100" fxLayout="column">
              <app-performance-card [dataModel]="performanceCardDataModel" [configModel]="performanceCardConfigModel">
              </app-performance-card>
            </mat-card>
          </div>

        </div>
        <mat-card fxLayout="row" fxFlex="100" fxLayoutGap="16px">
          <app-stacked-bar-chart [dataModel]="stackedbarChartDataModel" [configModel]="stackedbarChartConfigModel">
          </app-stacked-bar-chart>
        </mat-card>
      </div>
    </div>
    <div class="w-25" fxLayout="row" fxLayoutGap="16px" style="margin-left: 16px; margin-right:16px;">
      <mat-card fxFlex="100" fxLayout="column">
        <app-performance-select-group [dataModel]="performaceSelectGroupDataModel"
          [configModel]="performanceSelectGroupConfigModel"></app-performance-select-group>

        <app-performance-card2 [dataModel]="performanceCard2DataModel" [configModel]="performanceCard2ConfigModel">
        </app-performance-card2>
      </mat-card>
    </div>
  </div>

</div>
