ul {
  margin-top: 0;
  margin-bottom: 0;
}

li {
  display: inline-block;
}

li .a {
  width: 4.5em;
  height: 4.5em;
  text-align: center !important;
  line-height: 2em;
  border-radius: 2.5em;
  background: #3e6fb6;
  margin: 0 1em;
  margin-right: 10px;
  display: inline-block;
  color: white;
  position: relative;
  z-index: 0;
  vertical-align: middle;
  margin-right: 49px;
}

li .a::before {
  content: '';
  position: absolute;
  top: 2em;
  left: 10px;
  width: 70px;
  height: .2em;
  background: inherit;
  z-index: 1;
  margin-left: 2px;
  display: block;
  text-align: center;
  border-right: none;
  transform: translate(100%)
}

li .b {
  width: 4.5em;
  height: 4.5em;
  text-align: center !important;
  line-height: 2em;
  border-radius: 2.5em;
  background: #67308f;
  margin: 0 1em;
  display: inline-block;
  color: white;
  position: relative;
  z-index: 0;
  vertical-align: middle;
  margin-right: 45px;
}

li .b::before {
  content: '';
  position: absolute;
  top: 2em;
  left: -15%;
  width: 102%;
  height: .2em;
  background: #c9dcf6;
  z-index: 1;
  margin-left: 10px;
  display: block;
  text-align: center;
  border-right: none;
  transform: translate(100%)
}

li .c {
  width: 4.5em;
  height: 4.5em;
  text-align: center !important;
  line-height: 2em;
  border-radius: 2.5em;
  background: #838296;
  margin: 0 1em;
  margin-right: 10px;
  display: inline-block;
  color: white;
  position: relative;
  z-index: 0;
  vertical-align: middle;
  margin-right: 49px;
}

li .c::before {
  content: '';
  position: absolute;
  top: 2em;
  left: 10px;
  width: 70px;
  height: .2em;
  background: #c9dcf6;
  z-index: 1;
  margin-left: 2px;
  display: block;
  text-align: center;
  border-right: none;
  transform: translate(100%)
}

li .c1 {
  width: 4.5em;
  height: 4.5em;
  text-align: center !important;
  line-height: 2em;
  border-radius: 2.5em;
  background: #4d4f5c;
  margin: 0 1em;
  margin-right: 10px;
  display: inline-block;
  color: white;
  position: relative;
  z-index: 0;
  vertical-align: middle;
  margin-right: 49px;
}

li .c1::before {
  content: '';
  position: absolute;
  top: 2em;
  left: -2px;
  width: 70px;
  height: .2em;
  background: #c9dcf6;
  z-index: 1;
  margin-left: 2px;
  display: block;
  text-align: center;
  border-right: none;
  transform: translate(100%)
}


/* hide last li css line */

ul li:last-child .a:before {
  display: none;
  content: none;
}

ul li:last-child .b:before {
  display: none;
  content: none;
}

ul li:last-child .c:before {
  display: none;
  content: none;
}

ul li:last-child .c1:before {
  display: none;
  content: none;
}

.active~li .a {
  background: #7D8B92;
}

.active~li .a::before {
  background: #7D8B92;
}

.borderBottom {
  border-bottom: 1px solid #D3D3D3;
}

.status_tittle {
  text-align: center;
  margin-top: 10px;
  font-family: "Noto Sans";
  font-size: 13px;
  color: #455A64;
  margin-right: 16px;
  padding-right: 12px;
  width: 115px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.status_tittle>button {
  box-shadow: none;
  padding: 0;
  width: 110px;
  text-overflow: ellipsis;
  cursor: text;
  text-decoration: none;
  overflow: hidden;
}

.status_tittle1 {
  text-align: center;
  font-family: "Noto Sans";
  font-size: 15px;
  font-weight: bold;
  color: var(--clickable-count-color);
  display: flex;
  justify-content: center;
  cursor: pointer;
  text-decoration: underline;
}

.status_tittle1 p {
  margin-bottom: 0;
}

.mat_icon_size {
  font-size: 28px;
  padding-top: 21px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: auto;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  border: 1px solid #a0a1a1;
  z-index: 1;
  bottom: 44px;
  left: -55px;
  cursor: pointer;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 12px;
  cursor: pointer;
}

.dropdown-content a:hover {
  background-color: #ddd;
  font-size: 12px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .arrow-down {
  display: block;
}

.arrow-down {
  display: none;
  position: absolute;
  width: 0;
  height: 0;
  left: 4px;
  bottom: 36px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #a0a1a1;
}

.colorwhite {
  color: #fff !important;
}

.colorblue {
  color: blue;
}

.displayheadericon {
  text-align: left;
  margin-left: 44px;
  margin-top: 20px;
  position: relative;
}

.iconcss {
  right: 73px;
  height: 29px;
  bottom: 7px;
  position: absolute;
}

.disccss {
  font-size: 11px;
  padding: 5px;
}

@media (max-width:768px) {

  li .a:before,
  li .b:before,
  li .c:before {
    display: none;
  }
}

@media (max-width:640px) {

  li .a,
  li .b,
  li .c {
    margin-right: 0;
  }
}

@media (max-width:768px) {

  li .a:before,
  li .b:before,
  li .c:before {
    display: none;
  }
}

li .d {
  width: 5em;
  height: 5em;
  text-align: center !important;
  line-height: 2em;
  border-radius: 2.5em;
  background: rgba(0, 0, 0, 0.2);
  margin: 0 1em;
  display: inline-block;
  color: white;
  position: relative;
  z-index: 0;
  vertical-align: middle;
  margin-right: 49px;
}

li .d::before {
  content: '';
  position: absolute;
  top: 2.5em;
  left: -23%;
  width: 102%;
  height: .2em;
  background: rgba(102, 102, 102, 0.2);
  ;
  z-index: 1;
  margin-left: 10px;
  display: block;
  text-align: center;
  border-right: none;
  transform: translate(100%)
}

.not-allow {
  cursor: not-allowed;
}

.overlay {
  /* position: absolute; */
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(102, 102, 102, 0.4);
  z-index: 2;
  cursor: not-allowed;
  opacity: 0.4;
}

.cost-count {
  display: flex !important;
  justify-content: center;
  align-items: center;
  font-size: 18px !important;
}

.long-and-truncated {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;
}

@media only screen and (max-width: 1400px) {
  .cost-count {
    font-size: 12px !important;
  }

  li .a {
    width: 4.6em;
    height: 4.6em;
    margin: 0;
    margin-right: 25px;
  }

  li .a::before {
    top: 2em;
    left: 13px;
    width: 40px;
  }

  li .b {
    width: 4.6em;
    height: 4.6em;
    margin: 0;
    margin-right: 25px;
  }

  li .b::before {
    top: 2em;
    left: 5px;
    width: 40px;
  }

  li .c {
    width: 4.6em;
    height: 4.6em;
    margin: 0;
    margin-right: 25px;
  }

  li .c::before {
    top: 2em;
    left: 13px;
    width: 40px;
  }

  li .c1 {
    width: 4.6em;
    height: 4.6em;
    margin: 0;
    margin-right: 15px;
  }

  li .c1::before {
    top: 2em;
    left: 0px;
    width: 46px;
  }

  .status_tittle {
    margin-right: 0px;
    margin-left: -6px !important;
    padding-right: 0px;
    width: 5.5em !important;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-device-width: 767px) and (max-device-width: 960px) {
  li .a {
    width: 3.6em;
    height: 3.6em;
    margin: 0;
    margin-right: 5px;
  }

  li .b {
    width: 3.6em;
    height: 3.6em;
    margin: 0;
    margin-right: 5px;
  }

  li .b::before {
    top: 2em;
    left: 13px;
    width: 20px;
  }

  li .c {
    width: 3.6em;
    height: 3.6em;
    margin: 0;
    margin-right: 5px;
  }

  li .c1 {
    width: 3.6em;
    height: 3.6em;
    margin: 0;
    margin-right: 0px;
  }

  .status_tittle {
    width: 3.5em !important;
  }
}

@media screen and (min-device-width: 960px) and (max-device-width: 1100px) {
  li .a {
    width: 4.6em;
    height: 4.6em;
    margin: 0;
    margin-right: 5px;
  }

  li .b {
    width: 4.6em;
    height: 4.6em;
    margin: 0;
    margin-right: 5px;
  }

  li .c {
    width: 4.6em;
    height: 4.6em;
    margin: 0;
    margin-right: 5px;
  }

  li .c1 {
    width: 4.6em;
    height: 4.6em;
    margin: 0;
    margin-right: 0px;
  }

  .status_tittle {
    width: 4.5em !important;
  }
}

@media screen and (min-device-width: 1100px) and (max-device-width: 1200px) {
  li .a {
    width: 4.6em;
    height: 4.6em;
    margin: 0;
    margin-right: 10px;
  }

  li .b {
    width: 4.6em;
    height: 4.6em;
    margin: 0;
    margin-right: 10px;
  }

  li .c {
    width: 4.6em;
    height: 4.6em;
    margin: 0;
    margin-right: 15px;
  }

  li .c1 {
    width: 4.6em;
    height: 4.6em;
    margin: 0;
    margin-right: 0px;
  }
}

@media screen and (min-device-width: 1201px) and (max-device-width: 1350px) {
  li .a {
    width: 4.6em;
    height: 4.6em;
    margin: 0;
    margin-right: 19px;
  }

  li .b {
    width: 4.6em;
    height: 4.6em;
    margin: 0;
    margin-right: 19px;
  }

  li .c {
    width: 4.6em;
    height: 4.6em;
    margin: 0;
    margin-right: 19px;
  }

  li .c1 {
    width: 4.6em;
    height: 4.6em;
    margin: 0;
    margin-right: 5px;
  }
}

@media screen and (min-device-width: 1401px) and (max-device-width: 1600px) {
  li .a {
    width: 4.1em;
    height: 4.1em;
    margin: 0;
    margin-right: 20px;
  }

  li .a::before {
    top: 2em;
    left: 32px !important;
    width: 40px !important;
  }

  li .b {
    width: 4.1em;
    height: 4.1em;
    margin: 0;
    margin-right: 19px;
  }

  li .b::before {
    top: 2em;
    left: 24px !important;
    width: 40px !important;
  }

  li .c {
    width: 4.1em;
    height: 4.1em;
    margin: 0;
    margin-right: 30px;
  }

  li .c::before {
    top: 2em;
    left: 32px !important;
    width: 40px !important;
  }

  li .c1 {
    width: 4.1em;
    height: 4.1em;
    margin: 0;
    margin-right: 0px;
  }

  li .c1::before {
    top: 2em;
    left: 0px !important;
    width: 46px !important;
  }

  .status_tittle {
    margin-right: 0px;
    margin-left: 5px !important;
    padding-right: 0px;
    width: 4.5em !important;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-device-width: 1601px) and (max-device-width: 1700px) {
  li .a {
    width: 4.1em;
    height: 4.1em;
    margin: 0;
    margin-right: 30px;
  }

  li .a::before {
    top: 2em;
    left: 32px !important;
    width: 40px !important;
  }

  li .b {
    width: 4.1em;
    height: 4.1em;
    margin: 0;
    margin-right: 30px;
  }

  li .b::before {
    top: 2em;
    left: 24px !important;
    width: 40px !important;
  }

  li .c {
    width: 4.1em;
    height: 4.1em;
    margin: 0;
    margin-right: 30px;
  }

  li .c::before {
    top: 2em;
    left: 32px !important;
    width: 40px !important;
  }

  li .c1 {
    width: 4.1em;
    height: 4.1em;
    margin: 0;
    margin-right: 30px;
  }

  li .c1::before {
    top: 2em;
    left: 0px !important;
    width: 46px !important;
  }

  .status_tittle {
    margin-right: 0px;
    margin-left: -6px !important;
    padding-right: 0px;
    width: 4.5em !important;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-device-width: 1701px) and (max-device-width: 1900px) {
  li .a {
    margin-right: 0px;
  }

  li .c {
    margin-right: 0px;
  }

  li .c1 {
    margin-right: 0px;
  }

  li .b {
    margin-right: 0px;
  }
}

.permit-details {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 4px #C1CBFF3B;
  border-radius: 4px;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.permit-key-details {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 4px #C1CBFF3B;
  border-radius: 4px;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.info-element img {
  height: 45px;
  padding: 5px;
  display: block;
}

.pmrTrueIconColor {
  color: var(--theme-color);
}

.pmrFalseIconColor {
  color: var(--pmr-false-icon-color);
}

.permit-actions button {
  font-weight: normal;
  font-family: Noto Sans;
  margin-top: 15px;
  box-shadow: none;
}

.map-container {
  margin: 5px;
  border: 1px solid;
  border-radius: 4px;
  height: 320px;
}

.cost-tag {
  cursor: pointer;
  padding: 3px 0px 0px 3px;
  color: var(--text-highlighted-2);
  font-size: 20px !important;
}

.assessment-info-element label {
  font: Noto Sans;
  font-size: 1.2rem;
  letter-spacing: 0px;
  color: #838296;
  margin-bottom: 0px;
}

.assessment-info-element .assessment-status {
  font: Noto Sans;
  font-size: 1.8rem;
  letter-spacing: 0px;
  color: var(--icon-theme-color);
  font-weight: bold;
}

.assessment-info-element .description-title {
  font: Noto Sans;
  font-size: 1.4rem;
  letter-spacing: 0px;
  color: var(--icon-theme-color);
  font-weight: bold;
}

.assessment-info-element .assessment-description {
  font: Noto Sans;
  font-size: 1.4rem;
  letter-spacing: 0px;
  color: var(--icon-theme-color);
}

.long-and-truncated {
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;
}

.status-1 {
  background-color: #ffb300;
  padding: 3px 20px;
  border-radius: 20px;
  text-align: center;
}

.status-2 {
  background-color: #50AA4E;
  padding: 3px 20px;
  border-radius: 20px;
  text-align: center;
}

.info-element {
  text-align: center;
}

.charges-card {
  padding: 20px 0px 20px;
  box-shadow: 0px 3px 4px #C1CBFF3B;
}

.stepper-cost-container {
  margin-left: 35px !important;
}
