.images-container {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 4px #C1CBFF3B;
    border-radius: 4px;
    margin-top: 15px;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.images-container .info-title h2 {
    font: normal normal bold 1.5rem Noto Sans;
    letter-spacing: 0px;
    color: #706F6F;
    opacity: 1;
}

.image-actions .mat-stroked-button {
    padding: 0 8px;
    line-height: 25px;
    font-size: 1.1rem;
    font: Noto Sans;
    background-color: var(--theme-color);
    color: white;
    border: none;
    border-radius: 2px;
}

.image-actions .mat-stroked-button .material-icons {
    font-size: 1.8rem;
    color: white;
}

.image-actions .mat-stroked-button .mat-icon {
    height: 2rem;
    width: 2rem;
}

.single-image-container {
    border: 1px solid #bbc6ef;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #BBC6EF69;
    border-radius: 8px;
    opacity: 1;
    margin-top: 25px;
}

.image-info-wrapper {
    padding: 10px;
}

.single-image-container .image-info h3 {
    font: normal normal bold 1.3rem Noto Sans;
    letter-spacing: 0px;
    color: #706F6F;
    opacity: 1;
}

.single-image-container .image-info p {
    font: normal normal normal 1.2rem Noto Sans;
    letter-spacing: 0px;
    color: #706F6F;
    opacity: 1;
    margin-bottom: 2px;
}

.single-image-container mat-icon {
    color: #BBC6EF;
}

.image-wrapper {
    height: 200px;
    border-bottom: #BBC6EF69 solid 1px;
    background-size: cover;
}

.docx {
    font-size: 165px;
    width: 165px;
    height: 165px;
}

.fileuplod {
    max-width: 275px !important;
    max-height: 195px !important;
}