.center-count {
    /* width: 20px; */
    width: 55px;
    height: 20px;
    /* position: absolute; */
    position: relative;
    text-align: center;
    /* top: 50%; */
    top: 39%;
    /* left: 50%; */
    margin: -25px 0 0 -10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-weight: bold;
}