<div class="container-fluid mt-4">
    <div class="row no-gutters">
        <div class="col-md-12">
            <div class="custom-tabs">
                <mat-tab-group>
                    <mat-tab label="Users"><app-user-listing></app-user-listing></mat-tab>
                    <mat-tab label="Roles"><app-role-listing></app-role-listing></mat-tab>
                    <mat-tab label="Organisation"><app-organisation-listing></app-organisation-listing></mat-tab>
                  </mat-tab-group>
            </div>
        </div>
    </div>
</div>