.permit-info-container {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 4px #C1CBFF3B;
    opacity: 1;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.permit-title h1 {
    font: normal normal bold 1.5rem Noto Sans;
    letter-spacing: 0px;
    color: #706F6F;
    opacity: 1;
}

.permit-actions .mat-stroked-button {
    padding: 0 8px;
    line-height: 25px;
    font-size: 1.1rem;
    font: Noto Sans;
    background-color: #50AA4E;
    color: white;
    border: none;
    border-radius: 2px;
}

.permit-actions .mat-stroked-button .material-icons {
    font-size: 1.8rem;
    color: white;
}

.permit-actions .mat-stroked-button .mat-icon {
    height: 2rem;
    width: 2rem;
}

.early-start-form {
    padding: 20px;
}

.early-start-form h3 {
    font: normal normal bold 1.5rem Noto Sans;
    letter-spacing: 0px;
    color: #706F6F;
    opacity: 1;
    margin-bottom: 10px;
}

.confirm-msg-container {
    padding: 20px 10px;
}

.charge-tag {
    font-size: 20px;
    margin: 0 5px;
    font-weight: 600;
    color: var(--theme-color);
}

.draft-button {
    background-color: var(--theme-color);
    color: white;
}

.cost-split {
    padding: 20px 0px;
}

.cost-split-table tr,
td,
th {
    border: 1px solid var(--table-tr-td-border-color);
}

.cost-split th {
    padding: 10px!important;
    text-align: left;
    padding-left: 30px!important;
    background-color: var(--table-total-row-bg-color);
    color: var(--white);
    /* min-width: 250px; */
}

.cost-split-row-td-key {
    /* width: 50%; */
    padding: 10px;
    text-align: left;
    padding-left: 30px;
}

.cost-split-row-td-value {
    /* width: 50%; */
    padding: 10px;
    text-align: right;
    padding-right: 20px;
}

.bg-total-row {
    background-color: var(--dark-gray-text-color);
    color: var(--white);
}

.cost-split-table tr:last-child td {
    background-color: #d8d2d2;
    color: black;
}

.errorlabel {
    font-size: 18px;
    text-align: left;
}

.errorbtn {
    min-width: 100px;
    margin-top: 20px;
}

.warning {
    color: #f07d02;
    margin-bottom: 10px;
}

.wrk-extension-form {
    padding: 20px 0px;
}

.material-icons-outlined.power {
    font-size: 22px;
    color: var(--theme-color);
}

.material-icons-outlined.gas {
    font-size: 21px;
    color: var(--theme-color);
}

.titletext {
    /* font-weight: 700; */
    color: var(--icon-theme-color);
}

.info-label {
    font: Noto Sans;
    color: #838296;
}


/* .commenttext {
    font-weight: 700;
} */

.borderless-table td {
    border: none;
}
