<div class="key-details-container">
  <div class="status-container" fxFlex="100" class="p-4">
    <div class="d-flex justify-content-between align-items-center pb-3">
      <div class="status-text">
        <span class="fw-bold">Matched Status</span>
      </div>
      <div class="status-value">
        <span class="fw-bold"
          [ngClass]="{'completed':MatchStatus=='Matched','cancelled':MatchStatus=='Not Matched'}">{{MatchStatus}}</span>
      </div>
    </div>
    <div class="d-flex justify-content-between align-items-center pb-3">
      <div class="status-text">
        <span class="fw-bold">Accountability Status</span>
      </div>
      <div class="status-value">
        <span class="fw-bold"
          [ngClass]="{'in_progress':AccountabilityStatus=='Open','cancelled':AccountabilityStatus=='Not Open'}">{{AccountabilityStatus}}</span>
      </div>
    </div>
    <div class="d-flex justify-content-between align-items-center pb-3">
      <div class="status-text">
        <span class="fw-bold">Reconcillation Status</span>
      </div>
      <div class="status-value">
        <span class="fw-bold"
          [ngClass]="{'in_progress':ReconcillationStatus=='Open','cancelled':ReconcillationStatus=='Not Open'}">{{ReconcillationStatus}}</span>
      </div>
    </div>
    <div class="d-flex justify-content-between align-items-center pb-3">
      <div class="status-text">
        <span class="fw-bold">Payment Status</span>
      </div>
      <div class="status-value">
        <span class="fw-bold"
          [ngClass]="{'in_progress':PaymentStatus=='Open','cancelled':PaymentStatus=='Not Open'}">{{PaymentStatus}}</span>
      </div>
    </div>

  </div>
  <hr>
  <div class="stepper-container d-flex justify-content-center" xFlex="100">
    <app-pcp-stepper-cost [dataModel]="stepperCostDataModel" [configModel]="stepperCostConfigModel">
    </app-pcp-stepper-cost>
  </div>
  <hr>
  <div class="permit-details-container p-4">
    <div class="d-flex justify-content-between align-items-center">
      <div class="info-element" fxFlex="50" fxFlex.lt-sm="0 1 calc(50% - 32px)">
        <label for="">Permit Type</label>
        <!-- <p>{{chargeOverviewDataModel.data}}</p> -->
        <p>Fixed Type</p>
      </div>

      <div class="info-element">
        <button mat mat-stroked-button>View Permit</button>
      </div>
    </div>

    <div class="detail-container" fxLayout="row" fxLayout.lt-sm="row wrap" fxLayoutGap="32px"
      fxLayoutAlign="flex-start">
      <div class="info-element" fxFlex="50" fxFlex.lt-sm="0 1 calc(50% - 32px)">
        <label for="">Proposed Start Date/Time </label>
        <p>{{ dataModel.data.proposedStartDateTime | transformDateTime }}</p>
      </div>
      <div class="info-element" fxFlex="50" fxFlex.lt-sm="0 1 calc(50% - 32px)">
        <label for="">Proposed End Date/Time </label>
        <p>{{ dataModel.data.proposedEndDateTime | transformDateTime }}</p>
      </div>

    </div>

    <div class="detail-container" fxLayout="row" fxLayout.lt-sm="row wrap" fxLayoutGap="32px"
      fxLayoutAlign="flex-start">
      <div class="info-element" fxFlex="50" fxFlex.lt-sm="0 1 calc(50% - 32px)">
        <label for="">Proposed Duration</label>
        <p>{{ dataModel.data.proposedDuration }}</p>
      </div>
      <div class="info-element" fxFlex="50" fxFlex.lt-sm="0 1 calc(50% - 32px)">
        <label for="">Expected End Date/Time </label>
        <p>{{ dataModel.data.expectedEndDateTime | transformDateTime }}</p>
      </div>

    </div>

    <div class="detail-container" fxLayout="row" fxLayout.lt-sm="row wrap" fxLayoutGap="32px"
      fxLayoutAlign="flex-start">
      <div class="info-element" fxFlex="50" fxFlex.lt-sm="0 1 calc(50% - 32px)">
        <label for="">Actual Start Date/Time </label>
        <p>{{ dataModel.data.actualStartDateTime | transformDateTime }}</p>
      </div>
      <div class="info-element" fxFlex="50" fxFlex.lt-sm="0 1 calc(50% - 32px)">
        <label for="">Actual End Date/Time </label>
        <p>{{ dataModel.data.actualEndDateTime | transformDateTime }}</p>
      </div>

    </div>

    <div class="detail-container" fxLayout="row" fxLayout.lt-sm="row wrap" fxLayoutGap="10px"
      fxLayoutAlign="flex-start">
      <button mat-raised-button color="primary" fxFlex="50" (click)="onApproveChargeClick()">Approve Charge</button>

      <button mat-raised-button color="primary" fxFlex="50" (click)="onAuditChargeClick()">Audit Charge</button>
    </div>
  </div>
</div>
