<div class="dashboard-container mb-4">

    <div fxLayout="row" fxLayoutAlign="start center" FxFlex="100" class="page-title m-4">

        <div class="grey-text " FxFlex="98">
            <span class="blue-text">Dashboard</span> / <span class="blue-text">Invoices</span> / {{ this.invoiceDetailsBarDataModel.data.invoiceReferenceNumber }}
        </div>

    </div>

    <div *ngIf="!isDownloadPageEnabled" fxLayout="row" fxLayoutAlign="center center" class="m-auto">
        <mat-card fxFlex="98" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="10px">
            <div style="width:100%; border-bottom: 1px solid rgba(0, 0, 0, 0.1);">
                <app-invoice-details-bar [dataModel]="invoiceDetailsBarDataModel" [configModel]="invoiceDetailsBarConfigModel">
                </app-invoice-details-bar>
            </div>

            <div *ngIf="splitInvoiceShow" class="split-invoice-container m-auto">
                <div class="d-flex justify-content-center" fxLayout="row" fxLayoutGap="10px">
                    <div class="invoice-item">
                        <div class="invoice-head">
                            <p>INVOICE 1 : <span class="font-weight-bold">Z001-A3424234</span></p>
                        </div>
                        <div class="charges-container" fxLayout="column" fxLayoutGap="20px">
                            <div class="charge-item">
                                <label>Charge-ADFG 4234</label>
                                <p>A100ET932043243</p>
                            </div>
                            <div class="charge-item">
                                <label>Charge-ADFG 4234</label>
                                <p>A100ET932043243</p>
                            </div>
                            <div class="charge-item">
                                <label>Charge-ADFG 4234</label>
                                <p>A100ET932043243</p>
                            </div>
                            <div class="charge-item">
                                <label>Charge-ADFG 4234</label>
                                <p>A100ET932043243</p>
                            </div>
                            <div class="charge-item">
                                <label>Charge-ADFG 4234</label>
                                <p>A100ET932043243</p>
                            </div>
                        </div>
                    </div>
                    <div class="invoice-item">
                        <div class="invoice-head">
                            <p>INVOICE 2 : <span class="font-weight-bold">Z001-A342657687</span></p>
                        </div>
                        <div class="charges-container" fxLayout="column" fxLayoutGap="10px">
                            <div class="charge-item">
                                <label>Charge-ADFG 4234</label>
                                <p>A100ET932043243</p>
                            </div>
                            <div class="charge-item">
                                <label>Charge-ADFG 4234</label>
                                <p>A100ET932043243</p>
                            </div>
                            <div class="charge-item">
                                <label>Charge-ADFG 4234</label>
                                <p>A100ET932043243</p>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="!splitInvoiceShow" class="button-container m-auto" fxFlex="100" fxLayoutAlign="center center">
                <app-charges-button-set [dataModel]="chargesButtonSetDataModel" [configModel]="chargesButtonSetConfigModel">
                </app-charges-button-set>
            </div>
            <div *ngIf="splitInvoiceShow" class="buttons-container w-100 d-flex justify-content-end align-items-end">
                <div fxLayout="row" fxLayoutAlign="flex-end" fxLayoutGap="10px">
                    <button type="button" fxflex="100" mat-stroked-button (click)="onSplitInvoiceCancel1()">CANCEL</button>

                    <button type="button" fxflex="100" mat-stroked-button class="blue-btn" (click)="onSplitInvoiceSplit()">SPLIT</button>
                </div>
            </div>
        </mat-card>


    </div>
</div>
<div *ngIf="!splitInvoiceShow && !isDownloadPageEnabled" fxLayout="row" fxLayoutAlign="center center" class="m-auto">
    <mat-card fxFlex="98" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="10px" style="padding:0px;">

        <mat-tab-group>
            <mat-tab label="CHARGE LIST">
                <app-invoice-charges-list [dataModel]="invoiceChargesListDataModel" [configModel]="invoiceChargesListConfigModel">
                </app-invoice-charges-list>
            </mat-tab>

            <mat-tab label="ACTIVITY LOG">
                <app-charge-activity-log-tab [dataModel]="chargeActivityTabDataModel" [configModel]="chargeActivityTabConfigModel">

                </app-charge-activity-log-tab>
            </mat-tab>
        </mat-tab-group>

    </mat-card>
</div>

<div *ngIf="isDownloadPageEnabled" fxLayout="row" fxLayoutAlign="center center" class="m-auto">
    <!-- <div fxLayout="row" fxLayoutAlign="center center" class="m-auto"> -->
    <mat-card fxFlex="98" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
        <div class="invoice-container-box">
            <div class="button-sets mb-4">
                <button mat mat-stroked-button (click)="onInvoiceDownloadClick()">Download</button>
                <button mat mat-stroked-button (click)="onInvoiceSendPOClick()">Send PO</button>
            </div>
            <div class="invoice-pdf">
                <div class="d-flex mb-4">
                    <div class="invoice-box1 d-flex flex-column flex-1 w-50">
                        <h3 class="font-weight-bold uppercase">Purchase Order</h3>
                        <span class="invoice_number">Z#73949</span>
                        <div class="d-flex">
                            <span class="mr-4 grey-lite">Due Date</span>
                            <span class="ms-4">15/07/22</span>
                        </div>
                    </div>
                    <div class="invoice-box2 d-flex flex-column flex-1 w-50">
                        <h3 class="org_name fs-4 text-primary mb-4">Skewb Utility Commpany</h3>
                        <span class="uppercase">Tax 43402470890</span>
                    </div>
                </div>
                <div class="d-flex mb-5">
                    <div class="d-flex flex-column flex-1 w-50">
                        <span class="fs-3 uppercase grey-dark">Vendor Information</span>
                        <span class="invoice-texts">Company Name</span>
                        <span class="invoice-texts">Address Line 1</span>
                        <span class="invoice-texts">Address Line 2</span>
                        <span class="invoice-texts">City</span>
                        <span class="invoice-texts">Postcode</span>
                        <span class="invoice-texts">Phone</span>
                    </div>
                    <div class="d-flex flex-column flex-1 w-50">
                        <span class="fs-3 uppercase grey-dark">Highway Authoriy</span>
                        <span class="invoice-texts">Company Name</span>
                        <span class="invoice-texts">Address Line 1</span>
                        <span class="invoice-texts">Address Line 2</span>
                        <span class="invoice-texts">City</span>
                        <span class="invoice-texts">Postcode</span>
                        <span class="invoice-texts">Phone</span>
                    </div>
                </div>
                <div class="table-responsive mb-5">
                    <table class="w-100">
                        <tr class="table-row-bg">
                            <th *ngFor="let item of invoice_table_headers">
                                {{item}}
                            </th>
                        </tr>
                        <tr style="border-bottom: 1px solid rgba(0,0,0,0.1);">
                            <td *ngFor="let item of rowData" style="height: 65px">
                                {{item}}
                            </td>
                        </tr>
                        <tr style="border-bottom: 1px solid rgba(0,0,0,0.1);">
                            <td *ngFor="let item of rowData2" style="height: 65px">
                                {{item}}
                            </td>
                        </tr>
                        <tr style="border-bottom: 1px solid rgba(0,0,0,0.1);">
                            <td *ngFor="let item of rowData3" style="height: 65px">
                                {{item}}
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="d-flex mb-5">
                    <div class="d-flex flex-column flex-1 w-50">

                    </div>
                    <div class="d-flex flex-column flex-1 w-50">
                        <div class="d-flex justify-content-between w-75">
                            <span class="fs-3">Subtotal</span>
                            <span class="invoice-texts">&euro; 2022</span>
                        </div>
                        <div class="d-flex justify-content-between w-75">
                            <span class="fs-3">Administration</span>
                            <span class="invoice-texts">&euro; 0</span>
                        </div>
                        <div class="d-flex justify-content-between w-75">
                            <span class="fs-3">Other</span>
                            <span class="invoice-texts">&euro; 0</span>
                        </div>
                        <div class="d-flex justify-content-between w-75">
                            <h3 class="fs-3 font-weight-bold">Grand Total</h3>
                            <h3 class="invoice-texts font-weight-bold">&euro; 2022</h3>
                        </div>

                    </div>
                </div>
                <div class="d-flex mb-2">
                    <div class="d-flex flex-column flex-1 w-50">
                        <span class="fs-3 font-weight-bold grey-dark mb-3">Signature of the Authorized Person</span>
                        <div class="bg-grey-lite p-4">
                            <p>Name: </p>
                            <p>Notes: </p>
                        </div>
                    </div>
                    <div class="d-flex flex-column flex-1 w-50">

                    </div>
                </div>
                <div class="d-flex mb-4">
                    <div class="d-flex flex-column flex-1 w-100 bg-grey-lite p-4 " style="height: 90px;">
                    </div>
                </div>
                <div class="d-flex mb-4">
                    <h4 class="d-flex flex-column flex-1 w-100 grey-dark fw-bold">
                        Thank you for doing business with us. Have a good day!
                    </h4>
                </div>
                <div class="d-flex" style="border-top: 1px solid rgba(0,0,0,0.1);">
                    <div class="d-flex justify-content-between w-100 grey-dark ">
                        <span style="font-size: 12px; margin-top: .5rem;">Skewb Utility Company</span>
                        <span style="font-size: 12px; margin-top: .5rem;">Page 1 of 1</span>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
</div>

<app-dialog [dialogModel]="dialogModel" (onDialogClose)="onAppDialogClose($event)">
    <ng-container class="dialog-content-slot">

        <div [ngSwitch]="formNumber" class="mat-typography permit-form">

            <div *ngSwitchCase="EMAIL_INVOICE">
                <app-email-invoice-form [dataModel]="emailInvoiceFormModel" [configModel]="emailInvoiceFormConfigModel">
                </app-email-invoice-form>
                <div class="buttons-container">
                    <div fxLayout="row" fxLayoutAlign="flex-end" fxLayoutGap="10px">
                        <button type="button" fxflex="100" mat-stroked-button (click)="onEmailForm1Cancel()">CANCEL</button>

                        <button type="button" fxflex="100" mat-stroked-button class="blue-btn" (click)="onPreviewEmailForm1()">PREVIEW</button>
                    </div>
                </div>
            </div>
            <div *ngSwitchCase="EMAIL_INVOICE_2">
                <app-email-invoice-form2 [dataModel]="emailInvoiceForm2Model" [configModel]="emailInvoiceForm2ConfigModel">
                </app-email-invoice-form2>
                <div class="buttons-container">
                    <div fxLayout="row" fxLayoutAlign="flex-end" fxLayoutGap="10px">
                        <button type="button" fxflex="100" mat-stroked-button (click)="onEmailForm2Cancel()">CANCEL</button>

                        <button type="button" fxflex="100" mat-stroked-button class="blue-btn" (click)="onSendEmailFOrm2()">SEND</button>
                    </div>
                </div>
            </div>

            <div *ngSwitchCase="SPLIT_INVOICE">
                <app-split-invoice-form [dataModel]="splitInvoiceFormModel" [configModel]="splitInvoiceFormConfigModel">
                </app-split-invoice-form>
                <div class="buttons-container">
                    <div fxLayout="row" fxLayoutAlign="flex-end" fxLayoutGap="10px">
                        <button type="button" fxflex="100" mat-stroked-button (click)="onSplitInvoiceCancel2()">CANCEL</button>

                        <button type="button" fxflex="100" mat-stroked-button class="blue-btn" (click)="onSplitInvoiceSave()">SAVE</button>
                    </div>
                </div>
            </div>

            <div *ngSwitchCase="RECORD_INVOICE_AMOUNT">
                <app-record-invoice-amount-form [dataModel]="recordInvoiceAmountFormModel" [configModel]="recordInvoiceAmountFormConfigModel">
                </app-record-invoice-amount-form>
                <div class="buttons-container">
                    <div fxLayout="row" fxLayoutAlign="flex-end" fxLayoutGap="10px">
                        <button type="button" fxflex="100" mat-stroked-button (click)="onRecordInvoiceFormCancel()">CANCEL</button>

                        <button type="button" fxflex="100" mat-stroked-button class="blue-btn" (click)="onRecordInvoiceFormSave()">SAVE</button>
                    </div>
                </div>
            </div>

            <div *ngSwitchCase="RAISE_PO">
                <app-raise-po-form [dataModel]="raisePOModel" [configModel]="raisePOConfigModel">
                </app-raise-po-form>
                <div class="buttons-container">
                    <div fxLayout="row" fxLayoutAlign="flex-end" fxLayoutGap="10px">
                        <button type="button" fxflex="100" mat-stroked-button (click)="onRaisePOCancel()">CANCEL</button>

                        <button type="button" fxflex="100" mat-stroked-button class="blue-btn" (click)="onRaisePOSave()">SAVE</button>
                    </div>
                </div>
            </div>




            <!-- <div *ngSwitchCase="ADD_COMMENT">
        <div class="fixed-underline" fxLayoutGap="10px">
          <mat-form-field appearance="fill">
            <input matInput placeholder="Comment" [formControl]="commentText">
          </mat-form-field>
        </div>
        <div class="buttons-container">
          <div fxLayout="row" fxLayoutAlign="flex-end" fxLayoutGap="10px">
            <button type="button" fxflex="100" mat-stroked-button (click)="onCancelDialogClick()">CANCEL</button>

            <button type="button" fxflex="100" mat-stroked-button class="blue-btn"
              (click)="onAddComment()">SAVE</button>
          </div>
        </div> -->

            <!-- </div> -->

            <div *ngSwitchDefault>Something went wrong..!!</div>

        </div>


    </ng-container>
</app-dialog>

<app-dialog [dialogModel]="dialogModelUpdate" (onDialogClose)="dialogModelUpdateclose($event)">
    <ng-container class="dialog-content-slot">
        <div [ngSwitch]="formNumber" class="mat-typography permit-form">
            <div *ngSwitchCase="SPLIT_INVOICE">
                <app-file-upload [dataModel]="fileUploadDataModel3" [configModel]="fileUploadConfigModel">
                </app-file-upload>
            </div>
            <div [ngSwitch]="formNumber">
                <div *ngSwitchCase="RECORD_INVOICE_AMOUNT">
                    <app-file-upload [dataModel]="fileUploadDataModel" [configModel]="fileUploadConfigModel">
                    </app-file-upload>
                </div>
                <div *ngSwitchCase="RAISE_PO">
                    <app-file-upload [dataModel]="fileUploadDataModel2" [configModel]="fileUploadConfigModel">
                    </app-file-upload>
                </div>
            </div>
        </div>
    </ng-container>
</app-dialog>