.info-title{
    text-align: left;
font: normal normal bold 1.3rem Noto Sans;
letter-spacing: 0px;
color: #706F6F;
}

.map-wrapper{
    height:360px;
    min-width: 500px;
    border:1px solid var(--theme-color-border-light);
    border-radius: 4px;
}
.pin-div{
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #2B5C4169;
border-radius: 5px;
padding: 10px;
}
.pin-div .pin-title h3{
    text-align: left;
    font: normal normal bold 1.2rem Noto Sans;
    letter-spacing: 0px;
    color: #706F6F;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
}
.pin-div .pin-title p{
    margin: 0px;
    padding: 0px;
    text-align: left;
font: normal normal normal 1rem Noto Sans;
letter-spacing: 0px;
color: #838296;
}
