.example-chip-list {
  width: 100%;
}

.warn {
  background: red;
  opacity: .7;
}

.file-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.charge-item {
  border: 1px solid #1995e7;
  border-radius: 1rem;
  width: 100%;
  height: 60px;
  color: #1995e7;
  display: flex;
  align-items: center;
}